<div class="row">
  <div class="col-md-12">
    <% @feeds.each do |f| %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              <%= f.feedable.project.name %>
            </h4>
          </div>
          <div class="panel-body">

           <!-- 具体工作 -->
           <div class="row">
              <div class="col-md-12">
              <blockquote>
               <p><%= f.feedable.content %></p> 
               <p><small><em><%= strf(f.feedable.created_at) %></em></small></p>
              </blockquote>    
             </div>
           </div>
           <!-- ? -->

          </div>
        </div>


    <% end %>







        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              <small> <kbd>AT9AH70098A1</kbd> # <kbd>运营商BU-中央区事业部</kbd> # <kbd>施美琳</kbd></small>
            </p>
            <h4>
              第六代面板生产线IT系统建设项目
            </h4>
          </div>
          <div class="panel-body">

           <!-- 具体工作 -->
           <div class="row">
              <div class="col-md-12">
               <p><small><em>2018/03/05 ~ 2018/03/11</em></small></p>
             </div>
             <div class="col-md-1" >
                <p><br></p>
                <strong>18.5h</strong>
             </div>
             <div class="col-md-11">
              <blockquote>
                <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span>  <kbd>售中</kbd> </p>
               <p>调试配置华为SDN控制器，实现有线网802.1x认证。</p> 
                <p>
                  <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span> 
                  <code>华为</code>
                  <code>网络</code>
                </p>
              </blockquote>    
             </div>
           </div>
           <!-- ? -->

          </div>
        </div>

    
  </div>
</div>