    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-stacked">
          <!-- 历史周链接 -->
          <% @history_weeks.each do |w| %>
            <!-- 如果就是当前周就高亮显示 -->
            <% if week_begin(w) == week_begin(@current_time) %>
              <li role="presentation" class="active">
            <% else %>
              <li role="presentation">
            <% end %>
                <a href="#"><%= week_begin(w) %>~<%= week_end(w) %></a>
              </li>              
          <% end %>

          <!-- 更多 -->
          <li role="presentation">
            <a href="#" class="text-center btn-default">
              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </a>
          </li>

        </ul>
        
      </div>

    </div>