<div class="row" id='main_content'>
  <!-- 左侧的侧边栏 -->
  <div class="col-md-3 hidden-xs hidden-sm">
    <div class="row">

      <!-- 个人信息 -->
      <div class="col-md-12">
        <a href="#" class="thumbnail">
          <img src="https://i.loli.net/2018/03/06/5a9e971788aa4.jpg" alt="背景图像_sm.jpg" title="背景图像_sm.jpg" />
        </a>        

        <h2>梁超#liangchaob</h2>

        <p>集成SBU-技术中心</p>
        <p>部门经理</p>          
        <p>
          <span class="glyphicon glyphicon-tag" aria-hidden="true"> </span> <kbd>网络</kbd> <kbd>服务器</kbd>
        </p>
        <p>
          <span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span> <kbd>华为</kbd> <kbd>思科</kbd>
        </p> 
        <hr>
      </div>

      <!-- 按钮组 -->
      <div class="col-md-12">

        <div class="list-group">
          <button type="button" class="list-group-item active">我的工作</button>
          <button type="button" class="list-group-item">我的团队</button>
          <button type="button" class="list-group-item">我的项目</button>
          <button type="button" class="list-group-item">管理中心</button>
        </div>

      </div>

    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <!-- 首部信息 -->
      <div class="col-md-9">

        <!-- 导航栏 -->
        <ol class="breadcrumb">
          <li class="active"><small>2018/03/05 ~ 2018/03/12</small></li>
        </ol>

        <!-- 计划 -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <strong>本周计划:</strong>
              </div>
              <div class="col-md-10">
                调试
                <div class="pull-right">编辑</div>
              </div>
              <div class="col-md-12"><hr></div>
              <div class="col-md-2">
                <strong>下周计划:</strong>
              </div>
              <div class="col-md-10">调试
                <div class="pull-right">编辑</div>
              </div>    

            </div>
          </div>
        </div>

        <!-- <hr> -->
        <div class="row">
          <div class="col-md-12">

            <div class="pull-left">
              <p> 
                <button type="button" class="btn btn-primary btn-xs"> + 项目类工作</button>
                <button type="button" class="btn btn-primary btn-xs"> + 其他工作</button>
              </p>
            </div>          
            <div class="pull-right">
              <strong>本周工作量 <u><span class="lead">(26h/40h)</span> </u></strong>
            </div>

          </div>
          
        </div>












        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              <small> <kbd>AT9AH70098A1</kbd> # <kbd>运营商BU-中央区事业部</kbd> # <kbd>施美琳</kbd></small>
            </p>
            <h4>
              第六代面板生产线IT系统建设项目
            </h4>
          </div>
          <div class="panel-body">

           <!-- 具体工作 -->
           <div class="row">
              <div class="col-md-12">
               <p><small><em>2018/03/05 ~ 2018/03/11</em></small></p>
             </div>
             <div class="col-md-1" >
                <p><br></p>
                <strong>18.5h</strong>
             </div>
             <div class="col-md-11">
              <blockquote>
                <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span>  <kbd>售中</kbd> </p>
               <p>调试配置华为SDN控制器，实现有线网802.1x认证。</p> 
                <p>
                  <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span> 
                  <code>华为</code>
                  <code>网络</code>
                </p>
              </blockquote>    
             </div>
           </div>
           <!-- ? -->

          </div>
        </div>




        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              <small> <kbd>AT9AH70098A1</kbd> # <kbd>运营商BU-中央区事业部</kbd> # <kbd>施美琳</kbd></small>
            </p>
            <h4>
              第六代面板生产线IT系统建设项目
            </h4>
          </div>
          <div class="panel-body">

           <!-- 具体工作 -->
           <div class="row">
              <div class="col-md-12">
               <p><small><em>2018/03/05 ~ 2018/03/11</em></small></p>
             </div>
             <div class="col-md-1">
              <p><br></p>
              <strong>18.5h</strong>
             </div>
             <div class="col-md-11">
              <blockquote>
                <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span>  <kbd>售中</kbd> </p>
               <p>调试配置华为SDN控制器，实现有线网802.1x认证。</p> 
                <p>
                  <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span> 
                  <code>华为</code>
                  <code>网络</code>
                </p>
              </blockquote>    
             </div>
           </div>
           <!-- ? -->



           <!-- 具体工作 -->
           <div class="row">
              <div class="col-md-12">
               <p><small><em>2018/03/05 ~ 2018/03/11</em></small></p>
             </div>
             <div class="col-md-1">
              <p><br></p>
              <strong>18.5h</strong>
             </div>
             <div class="col-md-11">
              <blockquote>
                <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span>  <kbd>售中</kbd> </p>
               <p>调试配置华为SDN控制器，实现有线网802.1x认证。</p> 
               <p>
                  <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span> 
                  <code>华为</code>
                  <code>网络</code>
                </p>
              </blockquote>    
             </div>
           </div>
           <!-- ? -->


          </div>
        </div>






      </div>

      <!-- 右侧边 -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <!-- 计划 -->
        <div class="row">
          <div class="col-md-12"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="active">
                <a href="#">
                  <!-- <strong>Y2018-W10</strong>
                  <br> -->
                  2018/03/05~2018/03/12
                </a>
              </li>
              <li role="presentation">
                <a href="#">
                  <!-- <strong>Y2018-W9</strong>
                  <br> -->
                  2018/02/26~2018/03/04
                </a>
              </li>
              <li role="presentation">
                <a href="#">
                <!--   <strong>Y2018-W8</strong>
                  <br> -->
                  2018/02/19~2018/02/25
                </a>
              </li>
              <li role="presentation">
                <a href="#">
                  <!-- <strong>Y2018-W7</strong>
                  <br> -->
                  2018/02/17~2018/02/24
                </a>
              </li>

              <li role="presentation">
                <a href="#" class="text-center btn-default">
                  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
            
          </div>

        </div>
      </div>

    </div>
  </div>

</div>


