<div class="row">
  <!-- 首部信息 -->
  <div class="col-md-9">

    <!-- 导航栏 -->

    <!-- 导航栏 -->
    <ol class="breadcrumb">
      <!-- 周开始与结束时间 -->
      <li class="active"><small><%= week_begin(@current_time) %> ~ <%= week_end(@current_time) %></small></li>
    </ol>

  </div>


      <!-- 右侧边 -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <!-- 计划 -->
        <div class="row">
          <div class="col-md-12"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked">

              <% @history_weeks.each do |w| %>
                <!-- 如果就是当前周就高亮显示 -->
                <% if week_begin(w) == week_begin(@current_time) %>
                  <li role="presentation" class="active">
                <% else %>
                  <li role="presentation">
                <% end %>
                    <a href="#"><%= week_begin(w) %>~<%= week_end(w) %></a>
                  </li>              
              <% end %>

              <!-- 更多 -->
              <li role="presentation">
                <a href="#" class="text-center btn-default">
                  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </a>
              </li>

            </ul>
            
          </div>

        </div>
      </div>

</div>