/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "font-awesome-sprockets";
@import "font-awesome";

/* 整体颜色浅色 */
body{
  background-color: #e5e5e5;
}
/* 同时线的颜色调深 */
hr{
  border-color:#ccc;

}



/* 用户feed头像和名称的调整 */
#user_feeds_head_line{
  display: inline-block; 
  width: 40px;
  height: 40px;
}

#user_feeds_head_line .thumbnail{
  margin-bottom: 0;
  padding: 0;
}

#user_feeds_img{
  padding-right: 0px
}

#user_feeds_info{
  padding-left: 10px;
  display: inline-block;
}


#user_feeds_info p{
   margin-bottom: 0;
}


#user_feeds_time{
  color: #777;
}



