<!-- 导航条 -->
<ol class="breadcrumb">
  <li><%= link_to('全部用户',admin_users_path) %></li>
  <li><%= link_to(@user.code,admin_user_path(@user)) %></li>
  <li class="active">编辑用户</li>
</ol>

<%= render 'form' %>