<!-- 导航条 -->
<ol class="breadcrumb">
  <li><%= link_to('全部用户',admin_users_path) %></li>
  <li><%= link_to(@user.code,admin_user_path(@user)) %></li>
  <li class="active">编辑用户</li>
</ol>

    <!-- 显示头像 -->
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <a href="#" class="thumbnail">
          <!-- 显示当前用户头像 -->
          <%= render 'common/user_edit_avatar' %>
        </a>            
      </div>
    </div>


<%= render 'form' %>