<div class="row">

  <!-- 个人信息 -->
  <div class="col-md-12">
    <a href="#" class="thumbnail">
      <img src="https://i.loli.net/2018/03/06/5a9e971788aa4.jpg" alt="背景图像_sm.jpg" title="背景图像_sm.jpg" />
    </a>        

    <h2>梁超#liangchaob</h2>

    <p>集成SBU-技术中心</p>
    <p>部门经理</p>          
    <p>
      <span class="glyphicon glyphicon-tag" aria-hidden="true"> </span> <kbd>网络</kbd> <kbd>服务器</kbd>
    </p>
    <p>
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span> <kbd>华为</kbd> <kbd>思科</kbd>
    </p> 
    <hr>
  </div>

  <!-- 按钮组 -->
  <div class="col-md-12">

    <div class="list-group">
      <%= link_to('用户管理',admin_users_path, class: "list-group-item "+active_class('users') ) %>
      <%= link_to('团队管理',admin_teams_path, class: "list-group-item "+active_class('teams')) %>
    </div>

  </div>

</div>