<div class="row">

  <!-- 个人信息 -->
  <%= render 'common/current_user_basic_info' %>


  <!-- 按钮组 -->
  <div class="col-md-12">

    <div class="list-group">
      <%= link_to('用户管理',admin_users_path, class: "list-group-item "+active_class('users') ) %>
      <%= link_to('团队管理',admin_teams_path, class: "list-group-item "+active_class('teams')) %>
      <%= link_to('项目管理',admin_projects_path, class: "list-group-item "+active_class('projects')) %>
    </div>

  </div>

</div>