    <nav class="header clearfix navbar-inverse navbar" >
      <ul class="nav navbar-nav pull-right">
        <li role="presentation"><%= link_to("注销", '#') %></li>
        <li role="presentation"><a href="#">FAQ</a></li>
      </ul>
      <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-edit"  aria-hidden="true"></span> Daily</a>
    </nav>
    
