<div class="row">

  <!-- 个人信息 -->
  <%= render 'common/current_user_basic_info' %>
  <!-- 按钮组 -->
  <div class="col-md-12">

    <div class="list-group">
      <button type="button" class="list-group-item active">我的工作</button>
      <button type="button" class="list-group-item">我的团队</button>
      <button type="button" class="list-group-item">我的项目</button>
      <button type="button" class="list-group-item">管理中心</button>
    </div>
    
  </div>

</div>