<!-- Modal -->
<div class="modal fade" id="ProjectWorkflowModal" tabindex="-1" role="dialog" aria-labelledby="ProjectWorkflowModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ProjectWorkflowModalLabel">+ 项目类工作</h4>
      </div>
      <div class="modal-body">
        <!-- 只有 workflow表时候 -->
        <%= render 'dialogforms/project_workflow_form.html.erb' %>


        <!-- 分 table 类型时候 -->
        <!-- tabs -->
<!--         <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#pre_sale" aria-controls="pre_sale" role="tab" data-toggle="tab">售前</a></li>
          <li role="presentation"><a href="#in_sale" aria-controls="in_sale" role="tab" data-toggle="tab">售中</a></li>
          <li role="presentation"><a href="#after_sale" aria-controls="after_sale" role="tab" data-toggle="tab">售后</a></li>
          <li role="presentation"><a href="#single_service" aria-controls="single_service" role="tab" data-toggle="tab">单次服务</a></li>
          <li role="presentation"><a href="#si_service" aria-controls="si_service" role="tab" data-toggle="tab">集成</a></li>
          <li role="presentation"><a href="#supply_service" aria-controls="supply_service" role="tab" data-toggle="tab">供货</a></li>
        </ul> -->

        <!-- panes -->
<!--         <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="pre_sale">
            <%#= render 'dialogforms/project_workflow_form.html.erb' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="in_sale">...</div>
          <div role="tabpanel" class="tab-pane" id="after_sale">...</div>
          <div role="tabpanel" class="tab-pane" id="single_service">...</div>
          <div role="tabpanel" class="tab-pane" id="si_service">...</div>
          <div role="tabpanel" class="tab-pane" id="supply_service">...</div>
        </div> -->

      </div>

      
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>