<%= simple_form_for @project_workflow do |f| %>
  <div class="form-group">
    <!-- ajax 选择 -->
    <div class="form-group">
      <label>项目名</label>
      <select data-live-search="true" data-size=10  name="project_workflow[project_id]" id="project_project_workflow_id" class="selectpicker form-control select required" data-live-search-placeholder="输入项目名进行搜索" data-none-selected-text="输入项目名进行搜索">
      </select>
    </div>    


    <%= f.input :content,label: '内容',input_html: { class: "form-control"} %>
    <%#= f.input :description, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交ing..." } %>
<% end %>




<script>

$(document).ready(function(){
  // 设置 keyup 延时
  var last;
  // 动态ajax调整下拉框
  $("#project_project_workflow_id").on('shown.bs.select',function(e){
      $('#project_project_workflow_id').prev().find("input").keyup(function(event){
        // 建立时间戳
        last = event.timeStamp;
        // 设置延时500ms 执行 keyup事件
        setTimeout(function() {
          if(last-event.timeStamp==0){

            // 增加 id
            $('#project_project_workflow_id').prev().find("input").attr('id',"project_workflow_id_input");
            // 设置启动 ajax 最少字符数
            if ($('#project_workflow_id_input').val().length>0) {

                  // console.log($('#project_workflow_id_input').val()); //获取输入框值输出到控制台  

                  $.ajax({
                    // get请求地址
                        url: "/api/v1/projects/" + $('#project_workflow_id_input').val(),
                        dataType: "json",
                        success: function (data) {
                          data_arrary = data['data'];
                          // console.log(data_arrary)
                          // 如果是正常的搜到了
                          if (data['stat']==1) {

                          $('.selectpicker').html("");
                            for (var i = 0; i < data_arrary.length; i++) {
                                $('.selectpicker').append("<option value=" + data_arrary[i].id + ">" + data_arrary[i].name + "</option>");
                            };
                            // 缺一不可
                            $('#project_project_workflow_id').selectpicker('refresh');
                            $('#project_project_workflow_id').selectpicker('render');

                          } else {
                            $('.selectpicker').html("");
                            $('.selectpicker').append("<option value=0>未找到</option>");
                          }
                      }
                  });
                }
          }
          // body...
        },500)

      })  
  });


});


// 重新绘图 防止 display:none 的问题
$(".selectpicker").selectpicker()



</script>